.DS_Store
.idea
.vscode
CMakeFiles
Testing
Makefile
CMakeCache.txt
cmake_install.cmake

parser.cpp
parser.hpp
lexer.cpp
Phemia
Output
**/*.cbp
**/*.bc
**/*.o
**/darwin-amd64
**/Quicksort
test/MatrixMul/MatrixMul
test/Course/Course
**/*.ll